@media print {

    /* hide */
    audio {
        display: none;
    }
    
    /* print links */
    a[href]::after {
        content: " " attr( href )
    }
    
    /* paper sizing */
    @page {
        margin: 1in;
    }

}

